version: '3.8'
services:
  api:
    container_name: api
    build:
      context: ./api
    networks:
      - ft_network
    volumes:
      - ./api/:/api/
    ports:
      - "5555:5555"
    env_file: .env
  application:
    container_name: app
    build:
      context: ./app/
    networks:
      - ft_network
    volumes:
      - ./app/:/app/
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_INTRA_LOGIN_URL=${VITE_INTRA_LOGIN_URL}
    ports: 
      - "3000:3000"
  db:
    image: postgres:15.3
    container_name: db
    environment:
      - "POSTGRES_DB=${POSTGRES_DB}"
      - "POSTGRES_USER=${POSTGRES_USER}"
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}" 
    ports:
      - "5432:5432"
    # volumes:
    #   - ./postgres/data/:/var/lib/postgresql/data/
    networks:
      - ft_network
  server:
    container_name: server
    image: nginx
    networks:
      - ft_network
    depends_on:
      - api
    volumes:
      - ./nginx/config/:/etc/nginx/conf.d/
      - ./nginx/ssl/:/etc/ssl/
      - ./api/uploads/:/var/www/cdn/
    ports:
      - "4443:4443"
networks:
  ft_network:
    driver: bridge
