name: deploy leetblog

on:
  push:
    branches:
      - master
jobs:
  deploy-to-server:
    runs-on: ubuntu-latest

    steps:
      - name: Copy SSH known hosts
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          port: 22
          script: ${{ secrets.DEPLOY_SCRIPT }}
# comment to commit
# fixing deployment script
